<%- include('./includes/header.ejs')  %>
    </head>
    <body>
        <%- include('./includes/navbar.ejs')  %>
        <div class="container-md">
            <div class="alert alert-danger" role="alert">
                <h1><%= pageTitle %></h1>
            </div>
        </div>
        <img src="/images/404.jpg" alt="" class="img-fluid">
        <%- include('./includes/footer.ejs')  %>