<%- include('./includes/header.ejs')  %>
</head>
<body>
    <h1><%= pageTitle %></h1>
    <img src="images/product.png" alt="">
    <% if(products.length>0){ %>
        <% products.forEach((product)=>{ %>
            <img src="<%= product.imageUrl %>" alt="">
            <h3><%= product.title %></h3>
        <% }) %>
    <% } else { %>
        <h2>尚無商品</h2>
    <% } %>
</body>
</html>